// New functionality on the server
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 36px;
word-wrap: break-word
---
// Updating the functionality on the server
color: #828282;
font-size: 20px;
font-family: Inter;
font-weight: 400;
line-height: 30px;
word-wrap: break-word
---
// Updated community branding
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 36px;
word-wrap: break-word
---
// For a long time we changed our logo, and finally came to a better option
color: #828282;
font-size: 20px;
font-family: Inter;
font-weight: 400;
line-height: 30px;
word-wrap: break-word
---
// Latest News
color: black;
font-size: 48px;
font-family: Inter;
font-weight: 600;
word-wrap: break-word
---
// Code. Game. Chill.
color: white;
font-size: 64px;
font-family: Inter;
font-weight: 700;
line-height: 89.60px;
word-wrap: break-word
---
// Been uniting players for four years
color: white;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 33.60px;
word-wrap: break-word
---
// Join the Discord server
color: white;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 36px;
word-wrap: break-word
---
// SEVEN B FIVE
color: white;
font-size: 20px;
font-family: Girlo SP;
font-weight: 400;
line-height: 30px;
word-wrap: break-word
---
// About us
color: white;
font-size: 20px;
font-family: Inter;
font-weight: 500;
line-height: 30px;
word-wrap: break-word
---
// Server
color: white;
font-size: 20px;
font-family: Inter;
font-weight: 500;
line-height: 30px;
word-wrap: break-word
---
// Sign in
color: white;
font-size: 16px;
font-family: Inter;
font-weight: 500;
line-height: 24px;
word-wrap: break-word
---
// Log in
color: white;
font-size: 16px;
font-family: Inter;
font-weight: 500;
line-height: 24px;
word-wrap: break-word
---
// ©2024 SBF Community
color: #454545;
font-size: 16px;
font-family: Inter;
font-weight: 500;
line-height: 24px;
word-wrap: break-word
---
// Seven B Five
color: black;
font-size: 24px;
font-family: Girlo SP;
font-weight: 400;
line-height: 36px;
word-wrap: break-word
---
// Join the Discord server
color: white;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 36px;
word-wrap: break-word
---
// Birthday!
color: black;
font-size: 40px;
font-family: Inter;
font-weight: 600;
line-height: 48px;
word-wrap: break-word
---
// For four years now we have been connecting players and creating a cozy atmosphere
color: #828282;
font-size: 24px;
font-family: Inter;
font-weight: 400;
line-height: 36px;
word-wrap: break-word
---
// Learn more about us
color: white;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 36px;
word-wrap: break-word
---
// «Code» Community
color: black;
font-size: 40px;
font-family: Inter;
font-weight: 600;
line-height: 48px;
word-wrap: break-word
---
// A new offshoot of the developer community
color: #828282;
font-size: 24px;
font-family: Inter;
font-weight: 400;
line-height: 36px;
word-wrap: break-word
---
// Join us
color: white;
font-size: 24px;
font-family: Inter;
font-weight: 500;
line-height: 36px;
word-wrap: break-word